<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @event.administrator.first_name %> !</h1>
    <p>
      Un nouveau participant s'est inscrit sur ton event : <%= @administrator.event.title %>.
    </p>
    <p>
      Pour accéder à l'espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À plus sur monsite.fr !
  </body>
</html>